NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y3JlZGlibGUtYXJhY2huaWQtOTMuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_60DdiYrusgiUx5CNaw9S53jcwTQEH8t5LCixxfAJ5Z
# clerk configuration (can include secrets)
/.clerk/
node_modules
# Dependencies

node_modules/

# Next.js build output

.next/
out/
build/

# Environment variables (VERY IMPORTANT)

.env
.env.local
.env.development
.env.production

# Sanity / Clerk

.sanity/
.clerk/

# Logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files

.DS_Store
Thumbs.db

# Misc

*.log
